<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Welcome.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LogServlet</servlet-name>
        <servlet-class>Controller.LogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>Controller.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>Controller.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add</servlet-name>
        <servlet-class>Controller.Add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Display</servlet-name>
        <servlet-class>Controller.Display</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit</servlet-name>
        <servlet-class>Controller.Edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResNo</servlet-name>
        <servlet-class>Controller.ResDropp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResRoute</servlet-name>
        <servlet-class>Controller.ResRoute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResPick</servlet-name>
        <servlet-class>Controller.ResPick</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResDrop</servlet-name>
        <servlet-class>Controller.ResDrop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResDropStu</servlet-name>
        <servlet-class>Controller.ResDropStu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResPickStu</servlet-name>
        <servlet-class>Controller.ResPickStu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResRouteStu</servlet-name>
        <servlet-class>Controller.ResRouteStu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>Controller.Update</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogServlet</servlet-name>
        <url-pattern>/LogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add</servlet-name>
        <url-pattern>/Add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Display</servlet-name>
        <url-pattern>/Display</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit</servlet-name>
        <url-pattern>/Edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResNo</servlet-name>
        <url-pattern>/ResNo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResRoute</servlet-name>
        <url-pattern>/ResRoute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResPick</servlet-name>
        <url-pattern>/ResPick</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResDrop</servlet-name>
        <url-pattern>/ResDrop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResDropStu</servlet-name>
        <url-pattern>/ResDropStu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResPickStu</servlet-name>
        <url-pattern>/ResPickStu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResRouteStu</servlet-name>
        <url-pattern>/ResRouteStu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
